<!-- templates/partials/footer.html.twig -->
<footer>
    <div class="grid_4 pb4em grid_2lg gap_1lg grid_1sm pb0_sm">
        <div class="item">
            <h6>Apie</h6>
            <ul>
                <li><a href="#">Struktūra ir valdymas</a></li>
                <li><a href="#">Naujienos</a></li>
                <li><a href="#">Karjera</a></li>
                <li><a href="#">Universiteto stilius</a></li>
            </ul>
        </div>
        <div class="item">
            <h6>Bendruomenė</h6>
            <ul>
                <li><a href="#">KU partneriai ir rėmėjai</a></li>
                <li><a href="#">Psichologinis konsultavimas</a></li>
                <li><a href="#">Komandos įvairovė</a></li>
                <li><a href="#">Laivynas</a></li>
                <li><a href="#">Sporto klubas</a></li>
                <li><a href="#">KU Biblioteka</a></li>
            </ul>
        </div>
        <div class="item">
            <h6>Pagalba</h6>
            <ul>
                <li><a href="#">Informacija studentams</a></li>
                <li><a href="#">Atsakas į COVID-19</a></li>
                <li><a href="#">Pagalbos centras DUK</a></li>
                <li><a href="#">Pasitikėjimas ir saugumas</a></li>
            </ul>
        </div>
        <div class="item">
            <h6>Kontaktai</h6>
            <ul>
                <li><a href="#">Bendra info</a></li>
                <li><a href="#">Būsimiems studentams</a></li>
                <li><a href="#">Būsimiems studentams</a></li>
            </ul>
        </div>
    </div>

    <div class="grid_2 pb6em pb4em_md grid_1sm pb2em_sm footer_em">
        <div class="social_media">
            <img width="8px" height="16px" src="{{ asset('assets/images/facebook.svg') }}" alt="facebook"/>
            <img width="17px" height="16px" src="{{ asset('assets/images/instagram.svg') }}" alt="instagram"/>
            <img width="17px" height="16px" src="{{ asset('assets/images/linkedin.svg') }}" alt="linkedin"/>
            <img width="24px" height="16px" src="{{ asset('assets/images/youtube.svg') }}" alt="youtube"/>
        </div>
        <div class="links">
            <a href="#">Svetainės schema</a>
            <a href="#">Privatumo politika</a>
            <a href="#">Eduroam</a>
        </div>
    </div>
</footer>
