<!-- templates/partials/header.html.twig -->
<header>
    <div class="aside">
        <div class="item">
            <div class="logo">
                    <img src="{{ asset('assets/images/logo.svg') }}" alt="Klaipėdos Universiteto Logotipas">
            </div>
            <nav>
                <img src="{{ asset('assets/images/hamburger.svg') }}" alt="Klaipėdos Universiteto meniu">
            </nav>
        </div>
        <div class="item">
            <div class="language">
                <span>LT</span><img src="{{ asset('assets/images/arrow.svg') }}" alt="rodyklė">
            </div>
        </div>
    </div>    
</header>